<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<title>Home</title>
<style>
  div {margin-top:10px;}
body {
font-family: 'BlinkMacSystemFont';

}

</style>
</head>
<body>

	<div layout:fragment="content1">
		<div class="row">

			<div style="margin-top: 2%" class="card panel-primary col-md-5">
				<div >
					<div >
						<div class="card-header">Consultations compte</div>

						<div class="card-body">
							<form th:action="@{/consultercompte}" method="get">

								<h5 class="card-title">entrer N° compte</h5>

								<div>
									<label> N° cpte : </label> <input type="text" name="codeCompte"
										th:value="${codeCompte}" />
								</div>
								<button  type="submit" class="btn-outline-primary btn-block ">chercher</button>
							</form>
						</div>
						<div class="card-footer text-muted"></div>
					</div>


				</div>
			</div>


			<div style="margin-left: 8%; margin-top: 2%" class="card col-md-6"
				th:if="${compte}">
				<div class="card-header">Informations sur le compte</div>
				<div class="card-body">
					<div class="form-control">
						<label style="color: blue">Numero de compte :</label> <label
							th:text="${compte.numCompte}"></label> <label> </label> <label>
						</label> <label style="color: blue">Nom Agence :</label> <label
							th:text="${compte.client.agence}"></label>
					</div>

					<div class="form-control">
						<label style="color: blue">nom du client :</label> <label
							th:text="${compte.client.nom}"></label>
					</div>
					<div class="form-control">

						<label style="color: blue"> RIB : </label> <label
							th:text="${compte.RIB}"></label>
					</div>
					<div class="form-control">
						<label style="color: blue"> solde : </label> <label
							th:text="${compte.solde}"></label>
					</div>
					<div class="form-control">

						<label style="color: blue"> Date Creation: </label> <label
							th:text="${compte.dateOuverture}"></label>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="card col-md-8" th:if="${exeption}">
				<div style="background-color: red" class="card-header">Erreure</div>
				<div class="card-body">
					<label th:if="${exeption.message}=='compte Introuvable' "
						th:text="${exeption.message}"></label>
					<div th:if="${exeption.message}=='assr Introuvable'">
						<label style="margin-left: 40%">assure non encore creer</label>
						<br>
						<p>						
							<a href="saveData">Etablir la fiche signalétique</a>
					
    
</div>


					</div>


				</div>
			</div>
		<div class="row">
			<div  style="margin-top: 2%" class="card  text-center col-md-12" th:if="${compte!=null and assure!=null}"   >
				<div class=" card-header">  Fiche Signalétique
							<a href="saveData"><i class="fas fa-file"></i></a>
				
				</div>
				<!-- <div class="panel panel-body" th:if="${assure == null}">
					<label th:text="pas de fiche signalitique"></label>
				</div> -->


				<div class="card card_body" >
					<table class="table table-striped">
						<tr>
							<th>codeAssure</th>
							<th>nomComplet</th>
							<th>NaturePiece</th>
							<th>ReferencePiece</th>
							<th>DateNaissance</th>
						</tr>
						<tr th:each="objet:${assure}">
							<td th:text="${objet.codeAssure}"></td>
							<td th:text="${objet.nomComplet_a}"></td>
							<td th:text="${objet.NaturePiece_a}"></td>
							<td th:text="${objet.ReferencePiece_a}"></td>
							<td th:text="${objet.DateNaissance_a}"></td>

						</tr>



					</table>




				</div>
			</div>





		</div>
		</div>


</body>
</html>